/*Main*/

body {
    font-family: Varela, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: Varela, sans-serif;
}

img {

}

.row {
    width: 100%;
    max-width: 100%;
}

a:hover, a:target, a:focus {
    text-decoration: none;
}

/*Colors*/
.pink-background {
    background-color: #ed478e !important;
}

.dark-purple-background {
    background-color: #190029 !important;
}

.violet-background {
    background-color: #6046f8 !important;
}

.yellow-background {
    background-color: #ffdd4a !important;
}

.blue-background {
    background-color: #31e4fd !important;
}

.white-background {
    background-color: #FFFFFF !important;
}

.pink-text {
    color: #ed478e !important;
}

.violet-text {
    color: #6046f8 !important;
}

.dark-purple-text{
    color: #190029 !important;
}

.yellow-text{
    color: #ffdd4a !important;
}

.blue-text {
    color: #31e4fd !important;
}

.white-text {
    color: #FFFFFF !important;
}

.black-text {
    color: #000000 !important;
}

/*Text*/
.big-title {
    font-size: 120px;
    line-height: 200px;
    font-weight: 700;
}

.medium-title {
    font-size: 50px;
    line-height: 100px;
    font-weight: 700;
}

.big-paragraph {
    font-size: 20px;
    line-height: 30px;
}

/*Buttons*/

.button {
    padding: 8px 16px;
    margin: 1px;
    transition: background-color 200ms linear;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button.pink-hover:hover {
    background-color: #ed478e !important;
    color: #FFFFFF !important;
}

.button.violet-hover:hover {
    background-color: #6046f8 !important;
    color: #FFFFFF !important;
}

.button.dark-purple-hover:hover {
    background-color: #190029 !important;
    color: #FFFFFF !important;
}

.button.blue-hover:hover {
    background-color: #31e4fd !important;
    color: #FFFFFF !important;
}

.button.yellow-hover:hover {
    background-color: #ffdd4a !important;
    color: #FFFFFF !important;
}

/*Dropdown*/

.dropdown-toggle {
    background-color: #fff;
    border-radius: 0px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.dropdown-menu {
    border-radius: 0px;
    border: none;
}

.dropdown-item {
    font-family: Varela, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: inherit;
}

.dropdown-item.active {
    background-color: #ed478e;
}

.dropdown-toggle:hover, .dropdown-toggle:target, .dropdown-toggle:focus {
    background-color: #fff;
    border-radius: 0px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    color: #ed478e;
}

/*Navbar*/ 

.navbar-brand img {
    width: 120px;
}

#top-navbar {
    background-color: #fff !important;
    box-shadow: 0 1px 100px 10px rgba(0, 0, 0, .2);
}

#top-navbar .navbar-nav {
    margin-right: 10%;
}

#top-navbar .nav-item {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Work Sans', sans-serif;
}

#top-navbar .nav-item a {
    color: #000;
}

#top-navbar .nav-item a:hover {
    color: gray;
}

@media only screen and (max-width: 1400px){
    #top-navbar .navbar-nav {
        margin-right: 168px;
    }

    #mlh-trust-badge {
        right: 150px !important;
    }
}

@media(max-width: 992px) {
    #mlh-trust-badge {
        display: block;
    }
}

@media(max-width: 991px) {
    #mlh-trust-badge {
        display: none;
    }
}