#group1-container {
    display: inline !important;
}

body {
    padding: 0em;
    margin: 0em;
/*    border: #31e4fd 10px solid;
*/    font-family: 'Work Sans', sans-serif;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
}

a:hover, a:focus, a:target {
    text-decoration: none !important;
}

.row {
    width: 100% !important;
    margin: 0em !important;
}

.bottom {
    font-size:10px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: .7 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}

.fab, .far {
    font-size: 1.5em !important;
    
    margin-left: .25em !important;
    margin-right: .25em !important;
    margin-top: .15em !important;
    margin-bottom: .15em !important;
    
    color: white;
    opacity: .5;
}

.fab:hover, .fab:focus, .fab:target, .far:hover, .far:focus, .far:target {
    opacity: .7 !important;
}

#main-row {
    height: 100% !important;

    border: #31e4fd 10px solid;
    height: 100vh !important;
}

#left-pane {
    max-height: 100%;
/*    changed this 
*/    max-width:100%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    overflow:hidden;
}

#right-pane {
    background-color: #6046f8;
    color: white;
    overflow:scroll;
    height: 100%;
    padding-left: 30px;
}

.main-img {
    max-height: 80%;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
}

#logo {
    max-height: 45px;
    max-width: 151px;
}

#social-links {
    text-align: left;
    white-space: nowrap;
    padding-bottom: 5px;
}
#social-links img {
    padding-left: 3px;
    padding-right: 3px;
}

#title-content h1 {
    margin-bottom: 1em;
    font-size: 14px;
}

#title-content {
    padding-top: 5vh;
    margin-bottom: 5vh;
    max-width:100%;
    max-height: 100%;
}

#title-content h4 {
    font-size: 1em;
}

#title-content img {
    width: 100%;
    height: 100%;
    max-width: 225px;
}

#email-form input {
    margin-bottom: 1em;
    max-width: 15em;

    color: white;

    box-shadow: none !important;

    border-radius: 0em;

    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px white solid !important;
}

#email-form {
    margin-bottom: 5vh;
}

.middle {
    display: block;
    margin:auto;
}

.btn-primary {
    color: #31e4fd;
    border: none;
}

#mid-section {
    padding-bottom: 10px;
    font-size: 14px;
}

#core-beliefs span {
    opacity:1.0;
    display: inline-block;
}

#core-beliefs h6 {
    display: inline;
    opacity:0.5 !important;
    font-size: 14px;
}
.building {
    padding:10px;

}

#core-beliefs img{
    padding-right:10px;
}

.made-love {
    color: #ffffff;
    opacity: 0.5;
}

.bottom {
    position: relative;
}

#submit {
    width: 100% !important;
    max-width: 15em;
    background-color: #31e4fd !important;
}

.opaq-text {
    color: black !important;
    opacity: 0.5;
}

#center-piece {
    position: absolute;
    height: 50vh;
    bottom: auto;

    animation-name: shifting;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#ball-piece {
    height: 8vh;
    transform: translateX(calc(0.39 * 100vh)) translateY(calc(-0.18 * 100vh));
}

#group1-container .shape {
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#group1-container #group26 {
    height: 9vh;
    transform: translateX(calc(-0.268 * 100vh)) translateY(calc(-0.288 * 100vh));

    animation-name: shift-shape-9;
    animation-duration: 4s;
}

#group1-container #group31 {
    height: 6vh;
    transform: translateX(calc(-0.354 * 100vh)) translateY(calc(-0.254 * 100vh));

    animation-name: shift-shape-6;
    animation-duration: 5s;
}

#group1-container #group37 {
    height: 8vh;
    transform: translateX(calc(-0.5 * 100vh)) translateY(calc(0.068 * 100vh));

    animation-name: shift-shape-8;
    animation-duration: 3s;
}

#group1-container #group18 {
    height: 9vh;
    transform: translateX(calc(0.35 * 100vh)) translateY(calc(0.233 * 100vh));

    animation-name: shift-shape-9;
    animation-duration: 6s;
}

#group1-container #group22 {
    height: 9vh;
    transform: translateX(calc(-255.5 / 727 * 100vh)) translateY(calc(220 / 727 * 100vh));

    animation-name: shift-shape-9;
    animation-duration: 3s;
}

#group1-container group {
    height: 5vh;
    transform: translateX(calc(-190 / 727 * 100vh)) translateY(calc(125 / 727 * 100vh));

    animation-name: shift-shape-5;
    animation-duration: 5s;
}

#group1-container #group21 {
    height: 9vh;
    transform: translateX(calc(130 / 727 * 100vh)) translateY(calc(250 / 727 * 100vh));

    animation-name: shift-shape-9;
    animation-duration: 6s;
}

#group1-container #group17 {
    height: 9vh;
    transform: translateX(calc(420 / 727 * 100vh)) translateY(calc(-20 / 727 * 100vh));

    animation-name: shift-shape-9;
    animation-duration: 10s;
}

#group1-container #group14 {
    height: 9vh;
    transform: translateX(calc(395 / 727 * 100vh)) translateY(calc(-120 / 727 * 100vh));

    animation-name: shift-shape-9;
    animation-duration: 4s;
}

@keyframes shifting {
    0% {
        top: 10vh;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 10vh;
    }
}

@keyframes shift-shape-9 {
    0% {
        padding-bottom: 0px;
    }
    50% {
        padding-bottom: 50px;
        height: calc(9vh + 50px);
    }
    100% {
        padding-bottom: 0px;
    }
}

@keyframes shift-shape-6 {
    0% {
        padding-bottom: 0px;
    }
    50% {
        padding-bottom: 70px;
        height: calc(6vh + 70px);
    }
    100% {
        padding-bottom: 0px;
    }
}

@keyframes shift-shape-8 {
    0% {
        padding-bottom: 0px;
    }
    50% {
        padding-bottom: 30px;
        height: calc(8vh + 30px);
    }
    100% {
        padding-bottom: 0px;
    }
}

@keyframes shift-shape-5 {
    0% {
        padding-bottom: 0px;
    }
    50% {
        padding-bottom: 40px;
        height: calc(5vh + 40px);
    }
    100% {
        padding-bottom: 0px;
    }
}

/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/

@media (max-width: 576px) {
    #main-row {
        border: none;
    }

    #left-pane {
        height: 100vh;
    }

    #left-pane .main-img {
        overflow: hidden;
        max-width: none !important;
        max-height: 100%;
        height: 80vh;
        width: auto;
        transform: translateX(-22.5%);
        vertical-align: center;
        margin-top: calc(20vh / 2);
    }

    #left-pane #logo {
        height: 25px;
        width: 85px;
        position: absolute;
        top: 14px;
        left: 14px;
    }

    #right-pane {
        max-height: 100vh;
    }

    #right-pane h4 {
        font-size: 14px;
        margin-top: 10px;
    }

    #title-content img {
        max-width: 70vw;
    }

    #title-content {
        margin-bottom: 5em;
        padding-top: 0em;
    }

    #email-form input {
        max-width: calc((100%) - 10px);
        font-size: 14px;
    }

    #submit {
        max-width: calc((100%) - 10px);
        max-height: 50px;
        height: 50px;
        font-size: 14px;
    }

    #end-text h6 {
        font-size: 14px !important;
    }

    #end-text {
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 14px;
    }

    #footer-place {
        margin-top: -5px;
    }

    #group1-container #center-piece {
        display: none;
    }

    #group1-container #ball-piece {
        display: none;
    }

    #group1-container .shape {
        display: none;
    }
}

/*
// Small devices (landscape phones, 576px and up)
*/

@media (min-width: 576px) { 
 }

/*
// Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) { 

 }

/*
// Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) { 
 }


@media (max-width: 150vh) { 
    #center-piece {
        left: calc(100vh / 2.42);
        right: auto;
    }

    #ball-piece {
        left: calc(0.53 * 100vh);
        top: 0;
        right: auto;
    }

    #group1-container .shape {
        bottom: auto;
        right: auto;
        transform: none !important;
    }

    #group1-container #group26 {
        top: calc(0.137 * 100vh);
        left: calc(0.268 * 100vh);
    }

    #group1-container #group31 {
        left: calc(0.18 * 100vh);
        top: calc(0.19 * 100vh);
    }

    #group18 {
        top: calc(480 / 727 * 100vh);
        left: calc(630 / 727 * 100vh);
    }

    #group1-container #group37 {
        left: calc(10 / 727 * 100vh);
        top: calc(360 / 727 * 100vh);
    }

    #group1-container #group22 {
        left: calc(134 / 727 * 100vh);
        top: calc(540 / 727 * 100vh);
    }

    #group1-container #group {
        left: calc(190 / 727 * 100vh);
        top: calc(450 / 727 * 100vh);
    }

    #group1-container #group21 {
        left: calc(520 / 727 * 100vh);
        top: calc(550 / 727 * 100vh);
    }

    #group1-container #group17 {
        display: none;
    }

    #group1-container #group14 {
        display: none;
    }

    #group1-container #ball-piece {
        height: 8vh;
        transform: translateX(calc(0.39 * 100vh)) translateY(calc(-0.18 * 100vh));
    }


    @keyframes shift-shape-9 {
        0% {
            padding-top: 0px;
        }
        50% {
            padding-top: 50px;
            height: calc(9vh + 50px);
        }
        100% {
            padding-top: 0px;
        }
    }

    @keyframes shift-shape-6 {
        0% {
            padding-top: 0px;
        }
        50% {
            padding-top: 70px;
            height: calc(6vh + 70px);
        }
        100% {
            padding-top: 0px;
        }
    }

    @keyframes shift-shape-8 {
        0% {
            padding-top: 0px;
        }
        50% {
            padding-top: 30px;
            height: calc(8vh + 30px);
        }
        100% {
            padding-top: 0px;
        }
    }

    @keyframes shift-shape-5 {
        0% {
            padding-top: 0px;
        }
        50% {
            padding-top: 40px;
            height: calc(5vh + 40px);
        }
        100% {
            padding-top: 0px;
        }
    }
 }

/*
// Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) { 

 }


